<div class="panel panel-primary" ng-if="actor != null">
    <div class="panel-heading">{{actor.id}}</div>
    <div class="panel-body">
    
        <div class="form-group">
            <label>Position</label>
            <vec3-editor vec="actor.position"></vec3-editor>
        </div>

        <div class="form-group">
            <label>Rotation</label>
            <vec3-editor vec="actor.rotation"></vec3-editor>
        </div>

        <div class="form-group">
            <label>Static Mesh</label>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="actor.staticMeshId" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="chooseStaticMesh()">Choose</button>
                    <button class="btn btn-default btn-warning" type="button" ng-click="clearStaticMesh()"><span class="glyphicon glyphicon-remove-circle"></span></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label>Skinned Mesh</label>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="actor.skinnedMeshId" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="chooseSkinnedMesh()">Choose</button>
                    <button class="btn btn-default btn-warning" type="button" ng-click="clearSkinnedMesh()"><span class="glyphicon glyphicon-remove-circle"></span></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label>Skinned Mesh Animation</label>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="actor.skinnedMeshAnimationId" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="chooseSkinnedMeshAnimation()">Choose</button>
                    <button class="btn btn-default btn-warning" type="button" ng-click="clearSkinnedMeshAnimation()"><span class="glyphicon glyphicon-remove-circle"></span></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label>Animation Frame Index</label>
            <div class="input-group">
                <input type="number" class="form-control" ng-model="actor.frameIndex" />
            </div>
        </div>

        <div class="form-group">
            <label>Controller</label>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="actor.controllerId" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="chooseController()">Choose</button>
                    <button class="btn btn-default btn-warning" type="button" ng-click="clearController()"><span class="glyphicon glyphicon-remove-circle"></span></button>
                </span>
            </div>
        </div>

        <object-data-editor
            obj="actor"
            schema="dataSchema">
        </object-data-editor>

    </div>

</div>