<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Choose Controller</h4>
            </div>
            <div class="modal-body">

                <div class="scrollable">
                    <table class="table table-striped">
                        <tr ng-repeat="(controllerId, controller) in controllerLookup">
                            <td><a href="" ng-click="chooseController(controllerId)">{{controllerId}}</a></td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>