<div class="row">
    <div class="col-xs-4">
        <div class="input-group">
            <span class="input-group-addon">X:</span>
            <input type="number" class="form-control" ng-model="vec[0]" />
        </div>
    </div>
    <div class="col-xs-4">
        <div class="input-group">
            <span class="input-group-addon">Y:</span>
            <input type="number" class="form-control" ng-model="vec[1]" />
        </div>
    </div>
    <div class="col-xs-4">
        <div class="input-group">
            <span class="input-group-addon">Z:</span>
            <input type="number" class="form-control" ng-model="vec[2]" />
        </div>
    </div>
</div>